<?xml version="1.0"?>
<config>
  <modules>
    <Mage_Nextpay>
      <version>0.1.0</version>
    </Mage_Nextpay>
  </modules>
  <global>
    <blocks>
      <nextpay>
        <class>Mage_Nextpay_Block</class>
      </nextpay>
    </blocks>
    <helpers>
      <nextpay>
        <class>Mage_Nextpay_Helper</class>
      </nextpay>
    </helpers>
    <models>
      <nextpay>
        <class>Mage_Nextpay_Model</class>
      </nextpay>
    </models>
  <resources>
      <nextpay_setup>
          <setup>
              <module>Mage_Nextpay</module>
          </setup>
      </nextpay_setup>
  </resources>
  </global>
  <frontend>
    <routers>
      <nextpay>
        <use>standard</use>
        <args>
          <module>Mage_Nextpay</module>
          <frontName>nextpay</frontName>
        </args>
      </nextpay>
    </routers>
    <layout>
      <updates>
        <nextpay>
          <file>nextpay.xml</file>
        </nextpay>
      </updates>
    </layout>
  </frontend>
  <default>
    <payment>
      <nextpay>
        <active>1</active>
        <model>nextpay/payment</model>
        <title>Nextpay</title>
        <email_customer>1</email_customer>
        <payment_action>authorize</payment_action>
        <order_status>pending</order_status>
        <sort_order>1</sort_order>
      </nextpay>
    </payment>
  </default>
</config>